<div id="<%= dom_id aprovacao_comentario %>">
  <p>
    <strong>Comentario:</strong>
    <%= aprovacao_comentario.comentario_id %>
  </p>

  <p>
    <strong>Data aprovacao:</strong>
    <%= aprovacao_comentario.data_aprovacao %>
  </p>

</div>
