<h1>Editing aprovacao comentario</h1>

<%= render "form", aprovacao_comentario: @aprovacao_comentario %>

<br>

<div>
  <%= link_to "Show this aprovacao comentario", @aprovacao_comentario %> |
  <%= link_to "Back to aprovacao comentarios", aprovacao_comentarios_path %>
</div>
